table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 70%;
}

table, th, td {
  border: 1px solid black;
}

th {
  text-align: center;
}

.firstCell {
  text-align: center;
}

.th_text {
  float:left;
  text-align: left;
}
