
@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    height: auto !important;
  }
}

.helpIcon {
  color: rgb(157, 196, 223);
  padding-left: 3px;
  padding-bottom: 7px;
}

.helpIcon:hover {
  cursor: pointer;
}

.navbarCollapse {
  margin-left: auto;
  margin-right: auto;
}

.navItem:hover {
  background-color: #cea146;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navBar {
  background-color: #4a9ce3;
  padding: 0 !important;
  border-radius: 5px;
  margin: 2px;
  position: sticky !important;
  z-index: 1020;
  top: 2px;
}

.tooltop>.tooltip {
  max-width: 100%;
}

.largeToolTip>.tooltip-inner {
  max-width: 100%;
  background-color: rgba(97, 97, 97, 0.92);
}

.page {
  width: 100%;
  position: fixed;
  top: 50px;
  bottom: 0;
  overflow: auto;
  scrollbar-color: #4a9ce3 rgb(247, 250, 255) ;
  scrollbar-width: thin;
}