@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    height: auto !important;
  }
}

:root {
  --primary-color: #03A9F4;
  --contrast-color: #FFD600;
  --primary-light-color: #4FC3F7;
  --primary-lighter-color: #E1F5FE;
  --success-color: #2ECC71;
  --alert-color: #C0392B;
  --tooltip-background-color: rgba(97, 97, 97, 0.92);
  --background-color-primary: rgb(247, 250, 255);
  --background-color-component: #E1F5FE;
  --navbar-height: 4em;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: var(--background-color-primary) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-warning  {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--contrast-color) !important;
  --bs-btn-border-color: var(--contrast-color) !important;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffca2c;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: var(--contrast-color) !important;
  --bs-btn-disabled-border-color: var(--contrast-color) !important;
}

.helpIcon {
  color: rgb(157, 196, 223);
  padding-left: 3px;
  padding-bottom: 7px;
}

.helpIcon:hover {
  cursor: pointer;
}

.navbarCollapse {
  margin-left: auto;
  margin-right: auto;
}

.navItem {
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navItemSelected {
  color: black !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: -3px 0px 1px -2px rgba(0, 0, 0, 0.137);
  background-color: var(--background-color-primary);
  z-index: 2;
}

.navItem:hover {
  color: black !important;
  background-color: var(--background-color-component);
  z-index: 1;
  box-shadow: -5px 0px 3px -2px rgba(0, 0, 0, 0.137);
}

.navBar a {
  color: inherit !important;
}

.navBar {
  background-color: var(--primary-color);
  padding: 0 !important;
  border-radius: 5px;
  margin: 2px;
  position: sticky !important;
  z-index: 500;
  top: 2px;
}

.tooltop>.tooltip {
  max-width: 100%;
}

.largeToolTip>.tooltip-inner {
  max-width: 100%;
  background-color: var(--tooltip-background-color);
}

.page {
  width: 100%;
  position: fixed;
  top: 50px;
  bottom: 0;
  overflow: auto;
  scrollbar-color: var(--primary-light-color) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.alertText {
  color: var(--alert-color);
  text-align: center;
}

.logoutBtn {
  color: white;
  position: fixed;
  font-size: 2em !important;
  top: 0.2em;
  right: 0.1em;
  z-index: 1000;
}

.logoutBtn:hover {
  cursor: pointer;
  color: var(--contrast-color);
}

.logoutTooltip{
  z-index: 1001;
}

.btnSsoLogin {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.btnSsoLogin:hover {
  background-color: var(--primary-light-color) !important;
  border-color: var(--primary-light-color) !important;
  color: white;
}

.pendingDiv {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.contentWithBg {
  background-color: var(--background-color-component);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 3px 3px 1px -2px rgba(0,0,0,.137);
}