.content {
  margin-top: 1em;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.newTutorForm {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(169, 170, 171);
  margin-bottom: 10px;
}

.ofaSwitchGroup {
  display: flex;
  flex-direction: row;
}

.ofaSwitch {
  margin-left: 1em;
}

.addButton{
  margin-bottom: 16px;
}

.btnExpand{
  margin-left: 0.2em;
  font-size: 1em;
}

.dropDownContent {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.addTutorContent {
  max-width: 900px;
  min-width: 0px;
}

/* .tutorListContent {
  max-width: 900px;
  min-width: 0px;
} */

.inputDiv {
  display: flex;
  flex-direction: row;
}

.actionBox {
  font-size: 2.5em !important;
  color: var(--primary-color);
}

.actionBox :hover{
  cursor: pointer;
  color: var(--contrast-color);
}

.tutorFileAlert {
  color: red;
  text-align: center;
}
