.content {
  margin-top: 1em;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.newTutorForm {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(169, 170, 171);
  margin-bottom: 10px;
}

.addButton{
  margin-bottom: 16px;
}
