table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  vertical-align: text-top;
  text-align: left;
}

td:hover .arrow {
  display: inline-block;
}


.myModal {
  width: fit-content;
  max-width: 75% !important;
}

.tdBorderless {
  border: 0
}

.btnMail:hover{
  color: rgb(174, 187, 188);
  cursor: pointer;
}

.btnMail{
  color: rgb(144, 151, 151);
  cursor: pointer;
}

.btnRefuse{
  color: rgb(184, 62, 62);
  cursor: pointer;
}

.btnRefuse:hover{
  color: rgb(174, 187, 188);
}

.btnExpand{
  margin-left: 0.2em;
  font-size: 1.3em;
}

.AlertText {
  text-align: center;
  color: red;
}
