
.cont{
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 70%;
}

table, th, td {
  border: 1px solid black;
}

th {
  vertical-align: text-top;
  text-align: left;
}

td:hover .arrow {
  display: inline-block;
}

.firstCell {
  text-align: center;
}

.th_text {
  float:left;
  text-align: left;
}

.arrow {
  display: none;
}

.newStatusIcon {
  color: rgb(255, 221, 0);
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
}

.btn-showmore{
  margin: auto;
  width: 20%;
  text-align: center;
}

.btn-showmore:hover{
  cursor: pointer;
  color: gray;
}

.tableFunctions{
  position: relative;
  width: 100%;
}

.btn-confirm{
  width: fit-content;
  padding: 3px;
  margin-bottom: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.searchDiv{
  display: inline-block;
}

.searchDiv label{
  background-color: rgb(255, 248, 246);
  display:list-item;
  margin-bottom: 5px;
  width: fit-content;
  list-style-type: none;
}

.searchDiv label input{
  margin-left: 5px;
}

.input-visrows {
  min-width: 30px;
  width: 30px;
  text-align: center;
}