.tableContainer {
  overflow: auto;
}
.table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  min-width: 700px;
}

table, th, td {
  border: 1px solid black;
}

th {
  vertical-align: text-top;
  text-align: left;
}

td:hover .arrow {
  display: inline-block;
}

.table tr:hover {
  background-color: rgb(231, 244, 255);
}

.firstCell {
  text-align: center;
}

.th_text {
  float:left;
  text-align: left;
}

.arrow {
  display: none;
}

.newStatusIcon {
  color: rgb(255, 221, 0);
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
}

.btnShowmore{
  margin: auto;
  width: 20%;
  color: rgb(101, 152, 174);
  text-align: center;
}

.btnShowmore:hover{
  cursor: pointer;
  color: gray;
}

.tableFunctions{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.boxBtns {
  flex-grow: 1;
  min-height: 50px;
  min-width: 280px;
  position: relative;
}

.btnConfirm{
  width: fit-content;
  margin-bottom: 5px;
  position: absolute;
  padding: 3px;
  right: 0;
  bottom: 0;
}

.searchDiv{
  min-width: 360px;
  display: inline-block;
}

.searchDiv label{
  display:list-item;
  margin-bottom: 5px;
  width: fit-content;
  list-style-type: none;
}

.searchInput {
  margin-left: 5px;
  width: auto;
  display: inline-block;
}
.searchDiv label input{
  margin-left: 5px;
}

.inputVisrows {
  margin-left: 5px;
  width: auto;
  display: inline-block;
  min-width: 30px;
  width: 3em;
  text-align: center;
}