.content {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.ActiveTableContent {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: fit-content;
  grid-column: 1;
  grid-row: 1;
  row-gap: 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.EndedTableContent {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: fit-content;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.title {
  height: fit-content;
  grid-column: 1;
  grid-row: 1;
}

.functionsHeader {
  height: fit-content;
  grid-column: 1;
  grid-row: 2;
}

.table-tutorings {
  min-width: 700px;
  width: 100%;
  grid-column: 1;
  grid-row: 3;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  vertical-align: text-top;
  text-align: left;
}

td:hover .arrow {
  display: inline-block;
}

.firstCell {
  vertical-align: middle;
  text-align: center;
}

.th_text {
  float: left;
  text-align: left;
}