.tableContent {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: fit-content;
  row-gap: 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.functionsHeader {
  height: fit-content;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.searchDiv{
  grid-column: 1;
  display: inline-block;
}

.buttonDiv {
  grid-column: 2;
  position: relative;
}

.searchDiv label{
  display: list-item;
  margin-bottom: 5px;
  width: fit-content;
  list-style-type: none;
}

.searchInput {
  margin-left: 5px;
  width: auto;
  display: inline-block;
}

.searchSelect {
  display: inline-block;
  width: fit-content;
}

.inputVisrows {
  margin-left: 5px;
  width: auto;
  display: inline-block;
  min-width: 30px;
  width: 3em;
  text-align: center;
}



.btnConfirmSelected{
  width: fit-content;
  height: fit-content;
  position: absolute;
  padding: 3px;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
}

.tableContainer {
  min-width: 700px;
  width: 100%;
  grid-row: 2;
  border-collapse:collapse;
  border: 0;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  vertical-align: text-top;
  text-align: left;
}

td:hover .arrow {
  display: inline-block;
}

.tableTutorings tr:hover {
  background-color: rgba(210, 231, 248, 0.488);
}

.firstCell {
  vertical-align: middle;
  text-align: center;
}

.cellEndTutoring {
  background: rgb(247, 250, 255);
  border-style: none;
  text-align: center;
}

.btnShowmore {
  margin: auto;
  width: 20%;
  color: rgb(101, 152, 174);
  text-align: center;
  grid-row: 3;
}

.btnShowmore:hover{
  cursor: pointer;
  color: gray;
}

.btnEndTutoring {
  color:rgb(239, 58, 58);
}

.btnEndTutoring:hover{
  cursor: pointer;
  color: rgb(254, 142, 142);
}

.myModal {
  width: fit-content;
  max-width: 75% !important;
}

.btnCancel{
  background: #fff;
  color: red;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}