.alertText{
  color: var(--alert-color);
}

.successText{
  color: var(--success-color);
}

.inputDiv {
  display: flex;
  flex-direction: row;
}

.actionBox {
  font-size: 2.5em !important;
  color: var(--primary-color);
}

.actionBox :hover {
  cursor: pointer;
  color: var(--contrast-color);
}